# Auto detect text files and perform LF normalization
* text=auto

TDG00003-BDP-XX-XX-M3-A-NakaginCapsules_detached-3DView-_3D_-_michael_wylieP42DY_.uasset filter=lfs diff=lfs merge=lfs -text

53394601_bldg_6697_2_op.gml filter=lfs diff=lfs merge=lfs -text
533936_dem_6697_op.gml filter=lfs diff=lfs merge=lfs -text
533946_dem_6697_op.gml filter=lfs diff=lfs merge=lfs -text
533946_luse_6668_2_op.gml filter=lfs diff=lfs merge=lfs -text

tower_097AF033.uasset filter=lfs diff=lfs merge=lfs -text
0_SHAPE_SFM_3M_v20180804.uasset filter=lfs diff=lfs merge=lfs -text
model_odate.uasset filter=lfs diff=lfs merge=lfs -text

グラウンド.uasset filter=lfs diff=lfs merge=lfs -text
